
:root {
  --light-grey: #F9F9F9;
  --dark: #252525;
  --border: #C4C4C4;
  --bg-color: #E5E5E5;
  --text-green: #08BD37;
  --orange: #FFF4EA;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}


.page-container {
  /* height: 100vh; */
  /* border: 1px solid; */
  padding: 3rem 5rem;
}
@media screen and (max-width:800px) {
  .page-container {
      padding: 3rem 2rem;
  }
}
.page-inner {
  /* border: 1px solid red; */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-header {
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}
@media screen and (max-width:800px) {
  .input-header {
      flex-wrap: wrap;
  }
  .input-header {
      justify-content: center;
  }
}
.search-container {
  /* border: 1px solid pink; */
  width: 19.938rem;
  display: flex;
  position: relative;
}

.form-control {
  border: 1px solid var(--border);
  border-radius: 2px;
  height: 45px;
  width: 100%;
  outline: none;
  position: relative;
  align-self: center;
}
.form-control::placeholder {
  padding-left: 0.5rem;
}
.icon {
  position: absolute;
  right: 0.625rem;
  top: 50%;
  -webkit-transform: translate(-30%, -30%);
  transform: translate(-30%, -30%);
  cursor: pointer;
  color: #8F8B8B;
}
.filter-container{
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width:800px) {
  .filter-container {
      justify-content: center;
      margin-top: 0.5rem;
  }
}
@media screen and (max-width:480px) {
  .filter-inner {
      /* flex-wrap: wrap; */
      flex-direction: column;
  }
  .sm {
      margin-bottom: 0.5rem;
      width: 100% !important;
  }
}
.filter-inner {
  /* border: 1px solid green; */
  width: 37.5rem;
  align-self: center;
  display: flex;
  justify-content: space-between;
}
.filter-inner p {
  align-self: center;
}
.sm {
  width: 10rem;
}
.info-header{
  width: 100%;
  color: var(--dark);
  font-weight: 600;
  margin-bottom: 3rem;
  word-wrap: break-word;
}
.info-inner {
  background-color: var(--orange);
  /* height: 60px; */
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width:480px) {
  .info-text {
      font-size: 0.625rem;
  }
}
.svg-container {
  /* border: 1px solid var(--orange); */
  margin-right: 1rem;
}
.card-content-container {
  /* border: 1px solid; */
  width: 100%;
}
.card-header {
  display: flex;
  justify-content: space-between;
}
.card-header p:first-child {
  font-weight: 600;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  margin-top: 2.5rem;
  justify-content: space-between;
}
.card-container > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}
.card {
  flex: 0 0 auto;
  /* width: 30%; */
  height: 13.8rem;
  max-width: 22.375rem;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  margin-bottom: 2rem;
}
.card-inner-header {
  padding: 0.5rem 1rem;
  font-size: 24px;
  font-weight: 600;

}
.card-inner-text {
  font-size: 0.875rem;
  padding: 1rem 1rem;
}
.card-footer {
  margin-top: auto;
  background-color: var(--light-grey);
  color: var(--text-green);
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.pagination-container {
  /* border: 1px solid yellow; */
  height: 3.125rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navigate {
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  font-weight: 600;
}
.page {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.active {
  border: 2px solid;
  padding: 0 0.5rem 0 0.5rem;
}

.ml {
  margin-left: 0.5rem;
}


.error-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-inner {
  margin: auto;
  display: grid;
  place-items: center;
}

.btn-retry {
  text-align: center;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  background-color: hsl(240, 40%, 55%);
  color: #fff;
  cursor: pointer;
}